.auth-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.login-container, .register-container {
    width: 500px;
    margin: 0 auto;
    border: 1px solid #ffffff;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: auto;
    box-shadow: 10px 10px 10px #5c5c5c;
    padding: 25px;
}
 
.register-container {
    height: 740px;
}
 
.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
 
.auth-form input {
    margin: 8px 0;
    padding: 5px;
    width: 400px;
}
 
.auth-form button {
    cursor: pointer;
    background-color: #000000; /* Twitch Purple */
    color: #fff;
    border: none;
    border-radius: 8px;
    width: 410px;
    height: 30px;
    font-weight: 500;
    margin-top: 20px;
    transition: 0.3s;
    line-height: 10px;
}
 
.auth-form button:hover {
    opacity: 0.8;
}
 
.auth-form button:disabled {
    opacity: 0.5;
}
 
.auth-form-label {
    width: 410px;
    font-weight: 500;
}
 
.auth-form-logo-container {
    width: 180px;
    height: 420px;
    margin-left: -300px;
}

.auth-logo-setting {
    margin-right: 200px;
}
 
.auth-form-switch-label {
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    transition: 0.3s;
    cursor: pointer;
    padding-top: 10px;
}
 
.auth-form-switch-label:hover {
    opacity: 0.8;
}
 
.auth-form-validation-message {
    width: 400px;
    color: rgb(255, 0, 0);
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}
   
  .video-background video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}